<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>index page</title>
</head>
<body>
			<h1>Please fill out the student information!</h1>
			<form  method="post"  action="/formPost">
			FirstName:<input type="text"  name="firstName"><br>
			LastName:<input type="text"  name="lastName"><br>
			Email:<input type="email"  name="email"><br>
			StudentNumber:<input type="number"  name="studentNumber"><br>
			Birthday:<input type="date"  name="birthday"><br>
			<input type="submit"   value="SUBMIT">
			</form>
</body>
</html>